.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  // outline: 1px solid red;

  @media screen and (min-width: $mob) {
    width: $mob;
  }
  @media screen and (min-width: $tab) {
    width: $tab;
  }
  @media screen and (min-width: $desk) {
    width: $desk;
  }
}
